.timer {
  width: 500px;
  height: 200px;
  border: 4px solid #00FF80;
  border-radius: 30px;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0px auto;
  padding-top: 70px;
}
h1 {
  font-size: 50px;
  font-family: "Helvetica Neue", Arial;
  font-weight: 100;
}
